@page "/CorpoBuyers/show"
@using API.Library.DataAccess
@using API.Library.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids

<h3>Show Corporation Buyers</h3>
<SfGrid DataSource="@CorpoBuyers" AllowSorting="true" AllowPaging="true" Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })" Height ="315">
    <GridEvents OnActionBegin="ActionBeginHandler" OnActionComplete="ActionCompleteHandler" TValue="CorpoBuyerModel"></GridEvents>>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true"></GridEditSettings>
    <GridColumns>
        <GridColumn Field=@nameof(CorpoBuyerModel.id) IsPrimaryKey="true" Visible = "false" HeaderText="Store ID" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.name) HeaderText="Name" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.address) HeaderText="Address" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.city) HeaderText="City" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.postal_code) HeaderText="Postal Code" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.email) HeaderText="E-mail" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.telephone) HeaderText="Telephone" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.mobile) HeaderText="Mobile" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.fax) HeaderText="Fax" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.website) HeaderText="Website" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.contact_person) HeaderText="Contact person" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.bank_account_number1) HeaderText="Bank account number 1" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.bank_account_number2) HeaderText="Bank account number 2" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.TIN) HeaderText="TIN" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.UCID) HeaderText="UCID" Width="100" TextAlign="TextAlign.Center"></GridColumn>
        <GridColumn Field=@nameof(CorpoBuyerModel.taxpayer) HeaderText="Taxpayer" Width="100" TextAlign="TextAlign.Center"></GridColumn>
    </GridColumns>
</SfGrid>
@code 
{
    public List<CorpoBuyerModel> CorpoBuyers = new List<CorpoBuyerModel>();
     
    CorpoBuyerData data = new CorpoBuyerData();

    protected override void OnInitialized()
    {
        CorpoBuyers = data.GetCorpoBuyers();
    }

    public void ActionBeginHandler(ActionEventArgs<CorpoBuyerModel> Args)
    {
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            if (Args.Action == "Add")
            {
                data.SetCorpoBuyer<CorpoBuyerModel>(Args.Data);

            }
            else
            {
                data.ChangeCorpoBuyerById(Args.Data);
            }
        }
        if (Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Delete))
        {
            data.DeleteCorpoBuyerById(Args.Data.id);
        }
    }

    public void ActionCompleteHandler(ActionEventArgs<CorpoBuyerModel> Args)
    {
        if(Args.RequestType.Equals(Syncfusion.Blazor.Grids.Action.Save))
        {
            CorpoBuyers = data.GetCorpoBuyers();
        }
    }
}
